<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @alumni.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @alumni.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumni.email %>
</p>

<p>
  <strong>Program:</strong>
  <%= @alumni.program %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
